<figure>
  <a href='[:url]' target='_blank'>
  <img src='[:url]'></a>
  <figcaption style='font-size: 90%;background-color: #eee; border-radius: 3px;'>
    👆 [:simple_caption]
  </figcaption>
</figure>
